* {
    box-sizing: border-box;
    font-size: 20px;
    font-weight: 700;
  }
  
  body {
    margin: 0;
    padding: 0;
  }
  
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  h1 {
    text-align: center;
    color: green;
    margin-bottom: 60px;
  }
  
  header {
    width: 100%;
    height: 60px;
    background-color: #ddd;
    padding: 0 20px;
    margin-bottom: 50px;
}

/* TODO: header1 ~ 3까지 완성해주세요! */

/* header1 */
    .header1{
       display: flex;
       /* LOGO랑 메뉴 떨어뜨리기!!! */
       justify-content: space-between;
       align-items: center;
    }

   .header1 .menus{
    display: flex;
    flex-direction: row;
    }

    .header1 li{
        margin: 15px;
    }


  
  /* header2 */

  /* 이렇게도 할 수 있음

    .header2{
        display: flex;
        align-items: center;
        }
    .header2 .menus {
        width: 100%;
        }
       
        하단에서 height, align-items 는 빼고 작성하면 결과 같음
  */

    .header2 .menus {
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;

  }
  
  /* header3 */
  .header3 {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .header3 ul{
    display: flex;
    flex-direction: row;
  }
  .header3 li{
    margin: 15px;
  }
  