<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>로그인페이지</title>
    <!-- axios CDN -->
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <style>
      label {
        display: flex;
      }
      label span {
        width: 60px;
      }
      .success {
        color: blue;
        font-size: 1.2rem;
        font-weight: 700;
      }
      .fail {
        color: red;
        font-size: 1.2rem;
        font-weight: 700;
      }
    </style>
  </head>
  <body>
    <form name="login">
      <label>
        <span>아이디</span><input type="text" name="userid" required />
      </label>
      <br />
      <label>
        <span>비밀번호</span><input type="password" name="userpw" required />
      </label>
      <br />
      <button type="button" onclick="clickLogin()">로그인1</button>
      <button type="button" onclick="clickLogin2()">로그인2</button>
    </form>
    <div class="result"></div>
    <script>
      const result = document.querySelector(".result");
      function clickLogin() {
        const form = document.forms["login"];
        const data = {
          userid: form.userid.value,
          userpw: form.userpw.value,
        };
        if (!form.userid.checkValidity() || !form.userpw.checkValidity()) {
          result.innerText = "아이디와 비밀번호를 입력해주세요";
          return;
        }
        axios({
          url: "/login",
          method: "post",
          data: data,
        })
          .then((res) => {
            if (res.data.isSuccess) {
              result.innerText = `${res.data.userid}님 환영합니다!`;
              result.classList.remove("fail");
              result.classList.add("success");
            } else {
              result.innerText = "로그인 실패!";
              result.classList.remove("success");
              result.classList.add("fail");
            }
          })
          .catch((err) => {
            console.error("err!", err);
          });
      }
      async function clickLogin2() {
        try {
          const form = document.forms["login"];
          const data = {
            userid: form.userid.value,
            userpw: form.userpw.value,
          };
          const res = await axios({
            url: "/login2",
            method: "post",
            data: data,
          });
          if (res.data.isSuccess) {
            result.innerText = `${res.data.username}님 환영합니다!`;
            result.classList.remove("fail");
            result.classList.add("success");
          } else {
            result.innerText = "로그인 실패!";
            result.classList.remove("success");
            result.classList.add("fail");
          }
        } catch (err) {
          console.error("err!!!", err);
        }
      }
    </script>
  </body>
</html>
