<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <%- include('./includes/head.ejs',{title : '로그인'})%>
  </head>
  <body>
    <%- include('./includes/header.ejs')%>
    <h1>로그인 페이지입니다</h1>
  </body>
</html>
