<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/static/css/test.css" />
    <!-- 두번째 인자에 객체 형태로 변수 추가 가능 -->
    <%- include('./includes/head.ejs', {title : 'HOME'})%>
  </head>
  <body>
    <!-- header.ejs 불러오기 -->
    <%- include('./includes/header.ejs')%>
    <h1>테스트 입니다</h1>
    <% for(let i=1; i<5; i++) {%>
    <div>안녕하세요</div>
    <!-- <div>숫자 : <%#i%></div> -->
    <img src="/static/img/pooh<%=i%>.png" alt="pooh<%=i%>" width="50" />
    <% } %>
    <!-- <img src="/static/img/pooh2.png" alt="pooh" width="150"  /> -->
  </body>
</html>
