<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>회원정보</title>
  </head>
  <!-- ...User.userInfo()로 보내면 (...은 생략 가능)
   real.ID 바로 선택 가능
  -->
  <body>
    <h1>여기는 User 페이지</h1>
    <a href="/">홈으로 이동하기</a>
    <br />
    <br />
    <input type="text" readonly value="<%=info.realID%>" /><br />
    <input type="text" readonly value="<%=info.realPw%>" /><br />
    <input type="text" readonly value="<%=info.name%>" /><br />
    <input type="number" readonly value="<%=info.age%>" /><br />
  </body>
</html>
