<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>회원가입</title>
    <style>
      label {
        display: flex;
      }
      span {
        width: 80px;
      }
    </style>
  </head>
  <body>
    <h1>회원가입</h1>
    <form action="/register" method="post" enctype="multipart/form-data">
      <label> <span>아이디</span><input type="text" name="id" /> </label>
      <br />
      <label> <span>비밀번호</span> <input type="password" name="pw" /></label>
      <br />
      <label> <span>이름</span> <input type="text" name="name" /></label>
      <br />
      <label> <span>나이</span><input type="text" name="age" /> </label>
      <br />
      <label>
        <span>프로필사진</span><input type="file" name="profile" />
      </label>
      <br />
      <button type="reset">리셋</button>
      <button>회원가입</button>
    </form>
  </body>
</html>
