<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>multer 사용</title>
    <!-- axios CDN -->
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

    <style>
      form {
        border: 2px solid #ccc;
        padding: 1rem;
      }
      .profile {
        background-color: pink;
        border-radius: 50%;
        box-shadow: 0 0 20px #0002;
      }
    </style>
  </head>
  <body>
    <h1>multer 사용해보기</h1>
    <h2>파일 한 개 업로드</h2>
    <form action="/upload" method="post" enctype="multipart/form-data">
      <input type="file" name="userfile" />
      <br />
      <input type="text" name="title" placeholder="사진 제목" />
      <br />
      <br />
      <button>업로드</button>
    </form>
    <br />
    <h2>하나의 input에 파일 여러개 업로드</h2>
    <form action="/uploads/array" method="post" enctype="multipart/form-data">
      <input type="file" name="multifiles" multiple />
      <br />
      <input type="text" name="title" placeholder="사진 제목" />
      <br />
      <button>업로드</button>
    </form>
    <br />
    <h2>여러개 input에 파일 업로드</h2>
    <form action="/uploads/fields" method="post" enctype="multipart/form-data">
      <input type="file" name="file1" /><br />
      <input type="text" name="title1" placeholder="사진 제목1" />
      <br /><br />
      <input type="file" name="file2" /><br />
      <input type="text" name="title2" placeholder="사진 제목2" />
      <br /><br />
      <input type="file" name="file3" /><br />
      <input type="text" name="title3" placeholder="사진 제목3" />
      <br /><br />
      <button>업로드</button>
    </form>
    <br />
    <hr />
    <br />
    <h2>동적 파일 업로드</h2>
    <div class="dynamic">
      <input type="file" name="dynamicFile" id="dynamicFile" />
      <br />
      <input
        type="text"
        name="dynamicTitle"
        id="dynamicTitle"
        []
        placeholder="프로필 설명"
      />
      <br />
      <button onclick="fileUpload()">프로필 업로드</button>
      <button onclick="fileAndTextUpload()">프로필 업로드(with title)</button>
    </div>
    <img
      src="/static/default.jpg"
      alt="기본 프로필 이미지"
      width="200"
      height="200"
    />
    <div class="tit"></div>
    <script>
      function fileUpload() {
        const file = document.getElementById("dynamicFile");
        console.log(file);
        console.dir(file);
        console.log(file.files);
        console.log(file.files[0]);

        const formData = new FormData(); // {dynamicFile: {} }
        // 자바 스크립트에서 기본적으로 제공하는 클래스
        // 파일을 페이지 전환없이 비동기로 제출하고 싶을 때 사용
        formData.append("dynamicFile", file.files[0]); // formData에 key=dynamicFile, value=file.files[0]로 하겠다.
        axios({
          method: "post",
          url: "/dynamicUpload",
          data: formData,
          headers: {
            "content-type": "multipart/form-data",
          },
        }).then((res) => {
          console.log(res.data);
          console.log(res.data.path);
          //   console.log(res.data.originalname);
          const img = document.querySelector("img");
          img.src = `/${res.data.path}`;
        });
      }
      // 2. 글과 파일을 함께 업로드
      function fileAndTextUpload() {
        const formData = new FormData();
        // input[type=file]
        const file = document.getElementById("dynamicFile");
        // input[type=text]
        const title = document.getElementById("dynamicTitle");
        const img = document.querySelector("img");

        formData.append("dynamicFile", file.files[0]);
        formData.append("dynamicTitle", title.value);

        /* 
        formData = {
          dynamicFile: 파일정보(fileList[0])
          dynamicTitle: "사진 제목 string"
        }
        */

        axios({
          method: "post",
          url: "/dynamicUpload",
          headers: { "content-type": "multipart/form-data" },
          data: formData,
        })
          .then((res) => {
            console.log(res.data);
            console.log(res.data.fileInfo.dynamicTitle); // 'title에 담은 txt'
            console.log(res.data.file.path); // 'uploads/pooh1732671527048.png'

            img.src = `/${res.data.file.path}`;
            img.alt = res.data.fileInfo.dynamicTitle + "사진";
            img.classList.add("profile");
            document.querySelector(".tit").innerText =
              res.data.fileInfo.dynamicTitle;
          })
          .catch((err) => {
            console.error("error!", err);
          });
      }
    </script>
  </body>
</html>
