<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>uploadfiles</title>
    <!-- axios CDN -->
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  </head>
  <body>
    <h2>1 파일 1 input</h2>
    <div class="first"></div>

    <h2>여러 파일 1 input</h2>
    <div class="second"></div>

    <h2>여러 파일 여러 input</h2>
    <div class="third"></div>
    <script>
      const first = document.querySelector(".first");
      const img1 = document.createElement("img");
      img1.src = `/${path}`;
      first.append(img1);
    </script>
  </body>
</html>
