<!-- https://getbootstrap.com/docs/5.3/components/navbar/#nav -->
<nav class="navbar navbar-expand-lg bg-dark" data-bs-theme="dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Codingon</a>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#myHeader"
        aria-controls="myHeader"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="myHeader">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Menu1</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Menu2</a>
          </li>
          <%if (isLogin) { %>
            <li class="nav-item">
              <a class="nav-link active" href="/logout">Logout</a>
              <!-- GET 요청으로 세션 삭제하는 작업을 하기 위한 <a> 링크 이동 목적이 아님 -->
            </li>
          <% } else { %>
            <li class="nav-item">
              <a class="nav-link active" href="/login">Login</a>
            </li>
          <% } %>
        </ul>
        </form>
      </div>
    </div>
  </nav>
  