<!DOCTYPE html>
<html lang="ko">
  <%- include('include/include', { title: '로그인' })%>
  <body>
    <h1>로그인</h1>
    <!-- 
      [로그인] 버튼을 클릭하면 profile.ejs에서 특정 유저 정보를 보여주어야 하기 때문에 
      userid 정보를 value에 저장(POST /user/signin 요청의 응답을 받은 후 수행)하여
      폼(input)이 보이지 않도록 hidden 처리함
    -->
    <form name="form_info" action="/user/profile" method="POST">
      <input type="hidden" name="userid" />
    </form>

    <form name="form_login">
      <label for="userid">ID</label>
      <input id="userid" type="text" name="userid" required /><br />
      <label for="password">Password</label>
      <input id="password" type="password" name="pw" required /><br />
      <button type="button" onclick="login();">Login</button>
    </form>

    <!-- TODO: href 속성값 설정하기 -->
    <a href="/user/signup">Register</a>

    <script>
      // TODO: [Login] 버튼 클릭시 서버에 로그인 요청하기
      // POST /user/signin
      function login() {
        const form = document.forms["form_login"];
        const form_info = document.forms["form_info"];
        axios({
          method: "post",
          url: "/user/signin",
          data: {
            userid: form.userid.value,
            pw: form.pw.value,
            name: form.name.value,
          },
        })
          .then((res) => {
            console.log(res.data);
            const { userid, name, pw } = res.data;
            if (userid === form.userid.value && pw === form.pw.value) {
              form_info.userid.value = form.userid.value;
              form_info.submit();
            } else {
              alert("로그인 실패");
              form.userid.value = "";
              form.pw.value = "";
              form_info.reset();
              return;
            }
          })
          .catch((err) => {
            console.error(err);
          });
      }
    </script>
  </body>
</html>
