@import "util";
h4 {
  color: gray;
}

.div1 {
  width: 200px;
  height: 200px;
  background-color: $color-red;
  > .div2 {
    width: 50%;
    height: 50%;
    background-color: $color-orange;
    .div3 {
      width: 50%;
      height: 50%;
      background-color: $color-yellow;
    }
  }
  .btn {
    // btn 클래스 공통 속성
    display: inline-block;
    transition: 0.4s;
    width: 33%;
    height: 40px;
    color: white;
    line-height: 40px;
    text-align: center;
    font-size: 10px;

    // .btn.orangered : 자신이면서 orangered인 클래스 일치 선택자(붙여쓰기)
    &.orangered {
      background-color: orangered;
    }
    // .btn--opacity
    &--opacity {
      background-color: $color-blue;
      opacity: 0.5;
      &:hover {
        opacity: 0.8;
      }
    }
    // .btn--blue
    &--blue {
      background-color: $color-blue; // $color_blue로 써도 scss에서는 상관 없음
    }
    &:hover {
      cursor: pointer;
      font-weight: 700;
    }
  }
}

.container {
  width: 100%;
  background-color: antiquewhite;
  .box1 {
    height: 50px;
    background-color: $color-orange;
    // &:nth-child(1) {
    //   width: 100px;
    // }
    // &:nth-child(2) {
    //   width: 120px;
    // }
    // &:nth-child(3) {
    //   width: 140px;
    // }

    // from through - 이상 이하 / from to - 이상 미만
    @for $i from 1 through 3 {
      // 🎈 #{} : 보간 - 문자 사이에 변수를 넣거나, 연산이 아닌 곳에 값을 넣을 때 사용
      &:nth-child(#{$i}) {
        // width: (80px + 20px * $i);
        // border: 1px solid $color-blue;
        @include box();
      }
    }
  }
  .circle {
    // @include circle(red, 0.5);
    // &:nth-child(4) {
    //   @include circle(blue, 1);
    // }
    // &:nth-child(5) {
    //   @include circle(dodgerblue, 0.8);
    // }
    // &:nth-child(6) {
    //   @include circle(#b0b0ed, 0.6);
    // }
    $circleBgColors: (blue, dodgerblue, #b0b0ed);
    @each $el in $circleBgColors {
      // index():SASS에서 기본적으로 제공하는 함수
      // index(list, value) : 특정 list에서 value의 index를 반환하는 함수
      // index는 1번부터 시작
      $index: index($circleBgColors, $el);
      &:nth-child(#{$index + 3}) {
        // &:nth-of-type(#{$index}) {
        @include circle($el, 1.2 - 0.2 * $index);
      }
    }
  }
  .box2 {
    @include box2;

    &:nth-of-type(4) {
      @include box2(yellow, 20px, navy);
    }
    &:nth-of-type(5) {
      @include box2(orangered, 30px, black);
    }
  }
}

.img-test {
  width: 100px;
  height: 100px;
  border: 1px solid $color-blue;

  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  &.src-img {
    background-image: url("../assets/main.png");
  }
  &.public-img {
    background-image: url("http://localhost:3000/images/main.png");
  }
}
h3 {
  text-align: center;
}
.practice {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  box-sizing: border-box;
  padding: 0 5%;
  @for $i from 1 through 4 {
    div:nth-child(#{$i}) {
      width: 300px;
      height: 500px;
      border: 1px solid gray;
      border-radius: 10%;
      box-shadow: $boxShadow;

      background-color: $color-blue;
      background-position: center;
      background-size: contain;
      background-repeat: no-repeat;
      background-image: url("../assets/practice#{$i}.png");
    }
  }
}
