@import url('https://fonts.googleapis.com/css2?family=Hi+Melody&display=swap');
@font-face {
    font-family: 'HSGooltokki';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2210-2@1.0/HSGooltokki.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

/* body{background-color: skyblue;} */

body{font-family: "Hi Melody", sans-serif;}
.font-link{
    font-family: "Hi Melody", sans-serif;
}

.font-import{
    font-family: "Hi Melody", sans-serif;
}

.noonnu_font{    font-family: 'HSGooltokki', serif;}

.container{
    background-color: gold;
    /* 글자색은 기본적으로 상속됨 */
    color:gray
}

.container > .sentences{
    /* font-weight: 글씨 굵기 */
    font-weight: bold;

    /* font-size : 글씨 크기 */
    font-size: 16px ;

    /* text-align : 정렬 */
    text-align: center;

    /* text-decoration : 문자 꾸미기 */
    text-decoration: line-through;
    text-decoration: underline;

    /* line-height: 줄간 간격 */
    line-height : 2;

}
    .test{
        width: 100px;
        height: 100px;
        background-color: greenyellow;
        text-align: center;
        /* 글이 한 줄일 때는 세로 기준 가운데 정렬 함 */
        line-height: 100px;
    }

    .container a{
        text-decoration: none;
        color: gray;
        /* 색상 지정 방법
        1. 색상이름으로 설정
        2. rgb(숫자,숫자,숫자)함수
            -0~255 중 하나의 숫자가 들어감
            -rgb(0,0,0) : black
            -rgb(255,255,255) : white
            -rgba() : a는 투명도 지정(0~1)
        3. #NNNNNN :NN(red)/NN(green)/NN(blue)
            -000000 : black
            -ffffff : white
            -0~9와 a,b,c,d,e,f로 이루어진 수
        */
    }