/* body{background-color: pink;} */
.d-block{
    display: block;
    background-color: antiquewhite;
    border: 1px solid black;
    width: 50px;
    height: 50px;
    font-size: 13px;

    /* 여백 적용 : padding은 내부여백, margin은 외부여백 */
    padding: 10px;
    margin: 10px;
}


.d-inline{
    display: inline;
    background-color: pink;
    border: 1px solid blue;

    /* inline 은 가롸, 세로 적용 안됨 */
    width: 100px;
    height: 100px;

    /* 여백 적용
    padding은 위아래 배경색에만 적용 */
    padding: 10px;
    margin: 10px;
}

.d-inline-block{
    display: inline-block;
    background-color: aliceblue;
    border: 1px solid green;
    width: 50px;
    height: 50px;
    font-size: 12px;
    /* 여백 적용 */
    padding: 10px;
    margin: 10px;

}