.box{
    display: inline-block;
    width: 400px;
    height: 800px;
    border: 1px solid black;
}

.background{
    background-color: aquamarine;
    /* 단축 속성 - color image repeat position/size ... 순으로 */
    background: palegoldenrod;
    background: linear-gradient(to right, black, white);
}
.background-image{
    background-image: url('./img/small_img.png');

    /*  1. background-repeat  */
        /* default는 repeat */
    background-repeat: repeat; 
    background-repeat: repeat-x;
    background-repeat: repeat-y;
    background-repeat: no-repeat;

    /*  2. background-position  */
    background-position: top left;
    background-position: center;
    background-position: top center;
        /* 왼쪽 위를 기준으로 */
    background-position: 100px;
        /* x축, y축 순서 */
    background-position: 100px 10px;

    /*  3. background-size  */
    background-size: auto;
    /* size를 하나만 쓰면 가로너비 설정되고, 세로는 비율에 맞춰서 자동 설정됨 */
    background-size: 50px;
    background-size: 100px 200px;
    background-size: 100px;
    background-size: contain;
    background-size: cover;

    /*  4. background-attachment  */
    background-attachment: scroll;
    background-size: fixed;

}