.img-box{
    width: 400px;
    height: 250px;
    background-color: #9494ed;

}

.img-box img{
    width: 100%;
    height: 100%;
    cursor: pointer;
    border: 1px solid gold;
}

.img-box img:hover{
    /* transform */
    /* 1. skew : 기울이기 함수
    - skew(X_deg, Y_deg), skewX(X_deg), skewY(Y_deg)
    */

    transform: skewX(30deg);
    transform: skewY(30deg);
    transform: skew(30deg,30deg);

    /* 2. sclae : 크기 조절 함수
    - sclae(숫자,숫자), sclaeX(배수), sclaeY(배수)
     */
    transform: scaleX(2);
    transform: scaleY(0.7);
    transform: scale(2,0.7);
    transform: scale(1.5);

    /* 3. translate : 이동 함수 */
    transform: translateX(100px);
    transform: translateY(50px);
    transform: translate(100px,-40px);

    /* 4. rotate : 회전 함수 */
    transform: rotate(45deg);
        /* 3D로 적용 따라서 원근범 함수(나랑 화면 사이의 거리 지정)가 앞에 써져야함*/
    transform: perspective(200px) rotateX(45deg);
    transform: perspective(400px) rotateY(180deg);

    backface-visibility: visible;
    backface-visibility: hidden;

    transform: translate(50px);
    transform: scaleX(1.2);
    /* 단축속성 */
    /* transform: perspective() translate() scale() rotate() skew() */
    transform: translateX(100px) scaleX(1.2);

}

.box{
    width: 100px;
    height: 100px;
    display: inline-block;
    background-color: black;
}

.box1:hover{
    background-color: pink;
    height: 120px;
    width: 120px;

    transition-duration: 1s;
    transition-timing-function: ease;
    transition-delay: 2s;
    transition-property: background-color;
}

.box2:hover{
    background-color: aqua;
    transform: translate(100px) scaleX(2);

    /* transition: property duration timing-function delay */
    transition: transform 1s ease-in-out 2s;
}

    /*      transtion 적용이 해제될 때 (= 원래상태로)
            천천히 돌아오게 하는 방법   */
.box3{
    transition: .6s;
}

.box3:hover{
    opacity: 0;

    /* visibilty, display 같은 속성값들이
    중간값을 가지지 않는 경우는 transition이 적용되지 않음 */
    /* visibility: hidden; */
}

/* 가운데 정렬 방법 3가지 */


.outer{
    width: 300px;
    height: 300px;
    background-color: aqua;
}

.inner{
    width: 100px;
    height: 100px;
    background-color: pink;
}

/* 1. flex  이게 제일 BEST!*/
.outer1{
    display: flex;
    justify-content: center;
    align-items: center;
}
.outer > .inner1{}
/* 2. position, transform */
.outer2{
    position: relative;
}
.outer2 > .inner2{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
/* 3. position, margin:auto */
.outer3{
    position: relative;
}
.outer3 > .inner3{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}